<!-- Deal Of The Week Section Begin-->

<div class="card bg-dark text-dark">
  <img src="assets/img/time-bg.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="col-lg-5 text-center ">
    <h5 class="card-title text-dark"> <h2 class="text-dark">Deal Of The Week</h2>
      <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
          consectetur adipisicing elit </p></h5>
          <div>
          <ngb-timepicker [(ngModel)]="time" [seconds]="true"
          [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep" class=" text-center">

        </ngb-timepicker>
        <a href="#" class="primary-btn">Shop Now</a>
        </div>


</div>

  </div>

</div>

<!-- Deal Of The Week Section End -->
