<!-- Women Banner Section Begin -->
<section class="women-banner spad">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
              <div class="product-large set-bg">
                <img src="assets/img/products/women-large.jpg">

                  <h2>Women’s</h2>
                  <a href="#">Discover More</a>

              </div>
          </div>
          <div class="col-lg-8 offset-lg-1">
              <div class="filter-control">
                  <ul>
                      <li class="active">Clothings</li>
                      <li>HandBag</li>
                      <li>Shoes</li>
                      <li>Accessories</li>
                  </ul>

                    <ngb-carousel>
                      <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                      <img src="assets/img/hero-1.jpg" alt="Angular Carousel 1">
                      <br><br> <br><br><br><br><br><br><br><br>
                        <div class="carousel-caption" >
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <span>Bag,kids</span>
                                        <h1>Black friday</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore</p>
                                        <a href="#" class="primary-btn">Shop Now</a>
                                    </div>
                                </div>
                                <div class="off-card">
                                    <h2>Sale <span>50%</span></h2>

                                </div>
                            </div>
                        </div>
                      </div>
                    </ng-template >
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img src="assets/img/hero-2.jpg" alt="Angular Carousel 1">
                         <div class="carousel-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <span>Bag,kids</span>
                                        <h1>Black friday</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore</p>
                                        <a href="#" class="primary-btn">Shop Now</a>
                                    </div>
                                </div>
                                <div class="off-card">
                                    <h2>Sale <span>50%</span></h2>
                                </div>
                            </div>
                          </div>
                        </div>

                  </ng-template>
                  </ngb-carousel>

              </div>

          </div>
      </div>
  </div>
</section>
<!-- Women Banner Section End -->

